# Example Audit Process and Documentation in Python
zyx client
<br>4/30/2018

This workpaper represents the testing of controls around user access for zyx.

## Risk
The user IDs of terminated employees are not removed promptly, which may result in unauthorized access to enterprise information.

# Control
HR flags personnel as Terminated ("T") in the user access tables when termination is processed.

# Procedures performed
1. We obtained a user listing as of 4/2/18 (48 hours after terminated employees report)
2. Obtained a listing of terminated employees as of 3/31/18
3. Compare terminated employees to user list to determine if any are listed as Active

### Load User List and Terminated List

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
users_file_path = 'files/users.xlsx'

In [3]:
users_df = pd.read_excel(users_file_path)

In [4]:
users_df

,UNIT_ID,USER_NAME,USER_ID,EMAIL_ADDR,ROLE_NAME,OBJ_NAME,FUNCTION_NAME,STATUS
0,11703,KARI ALEXANDER,KALEXANDER,kalexander@zyx.com,CONTRACTING OFFICER,Contract,View,A
1,20280,LINDA PARKER,LPARKER,lparker@zyx.com,NO LOGIN RIGHTS,Contract,View,A
2,30126,DANIEL YORK,DYORK,dyork@zyx.com,NO LOGIN RIGHTS,Contract,View,A
3,30187,CHARLES ALLEN,CALLEN,callen@zyx.com,NO LOGIN RIGHTS,Contract,View,A
4,30323,JAMIE MARTIN,JMARTIN,jmartin@zyx.com,ACCEPTANCE,Contract,View,A
5,30323,JAMIE MARTIN,JMARTIN,jmartin@zyx.com,SG_GENERAL ADMIN,Contract,View,A
6,30439,MICHAEL DAVIS,MDAVIS,mdavis@zyx.com,NO LOGIN RIGHTS,Contract,View,A
7,30508,JIMMY ALVAREZ,JALVAREZ,jalvarez@zyx.com,NO LOGIN RIGHTS,Contract,View,A
8,30630,MISS NICOLE YOUNG,MNICOLE,mnicole@zyx.com,NO LOGIN RIGHTS,Contract,View,A
9,31010,PAUL BREWER,PBREWER,pbrewer@zyx.com,NO LOGIN RIGHTS,Contract,View,A
10,31020,FRANCISCO MILLER,FMILLER,fmiller@zyx.com,NO LOGIN RIGHTS,Contract,View,A
11,31020,LESLIE HERNANDEZ,LHERNANDEZ,lhernandez@zyx.com,NO LOGIN RIGHTS,Contract,View,A
12,31020,KATHERINE SIMMONS,KSIMMONS,ksimmons@zyx.com,NO LOGIN RIGHTS,Contract,View,A
13,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,AGREEMENTS OFFICER,Assign,A
14,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,REQUISITIONER,Assign,A
15,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,SG_CONTRACT SPECIALIST,Assign,A
16,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,TRAINEE,Assign,A
17,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,SG_TSA-TEAM LEADERS,Assign,A
18,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,SG_CONTRACTING OFFICER,Assign,A
19,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,SG_SITE ADMIN,Assign,A
20,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,SG_GENERAL ADMIN,Assign,A
21,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,GRANT NEGOTIATOR,Assign,A
22,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,CAN ASSIGN BUYER,Assign,A
23,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,ACCEPTANCE,Assign,A
24,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,DISPLAY ALL ACCOUNT CODES,Assign,A
25,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,RECEIVING,Assign,A
26,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,ORDERING OFFICER,Assign,A
27,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,NO LOGIN RIGHTS,Assign,A
28,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,ACCOUNTING,Assign,A
29,31030,AMANDA WALLER,AWALLER,awaller@zyx.com,User Administration,ABILITY TO RELEASE,Assign,A
...,...,...,...,...,...,...,...,...
2551,7513A,KRISTA COLEMAN,KCOLEMAN,kcoleman@zyx.com,DISPLAY ALL ACCOUNT CODES,Contract,View,A
2552,7513A,KRISTA COLEMAN,KCOLEMAN,kcoleman@zyx.com,DISPLAY ALL AUTO-NUMBER MASKS,Contract,View,A
2553,7513A,KRISTA COLEMAN,KCOLEMAN,kcoleman@zyx.com,SG_CONTRACTING OFFICER,Contract,View,A
2554,75150,DOUGLAS ROBERTS,DROBERTS,droberts@zyx.com,ABILITY TO RELEASE,Contract,View,A
2555,75150,DOUGLAS ROBERTS,DROBERTS,droberts@zyx.com,BUYER,Contract,View,A
2556,75150,DOUGLAS ROBERTS,DROBERTS,droberts@zyx.com,CAN ASSIGN BUYER,Contract,View,A
2557,75150,DOUGLAS ROBERTS,DROBERTS,droberts@zyx.com,DISPLAY ALL ACCOUNT CODES,Contract,View,A
2558,7517J,MR. JACOB GONZALEZ MD,MJACOB,mjacob@zyx.com,NO LOGIN RIGHTS,Contract,View,A
2559,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,ABILITY TO RELEASE,Contract,View,A
2560,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,ABILITY TO RELEASE,Contract,View,A
2561,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,ACCOUNTING,Contract,View,A
2562,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,BUYER,Contract,View,A
2563,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,BUYER,Contract,View,A
2564,751AA,JULIE BUTLER,JBUTLER,jbutler@zyx.com,BUYER,Contract,View,A
2565,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,CAN ASSIGN BUYER,Contract,View,A
2566,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,CAN ASSIGN BUYER,Contract,View,A
2567,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,CONTRACTING OFFICER,Contract,View,A
2568,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,CONTRACTING OFFICER,Contract,View,A
2569,751AA,JULIE BUTLER,JBUTLER,jbutler@zyx.com,DISPLAY ALL ACCOUNT CODES,Contract,View,A
2570,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,DISPLAY ALL ACCOUNT CODES,Contract,View,A
2571,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,DISPLAY ALL ACCOUNT CODES,Contract,View,A
2572,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,DISPLAY ALL AUTO-NUMBER MASKS,Contract,View,A
2573,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,DISPLAY ALL AUTO-NUMBER MASKS,Contract,View,A
2574,751AA,JULIE BUTLER,JBUTLER,jbutler@zyx.com,DISPLAY ALL AUTO-NUMBER MASKS,Contract,View,A
2575,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,SG_CONTRACT SPECIALIST,Contract,View,A
2576,751AA,JULIE BUTLER,JBUTLER,jbutler@zyx.com,SG_CONTRACT SPECIALIST,Contract,View,A
2577,751AA,BRANDON GRIFFIN,BGRIFFIN,bgriffin@zyx.com,SG_CONTRACTING OFFICER,Contract,View,A
2578,751AA,BROOKE TAYLOR,BTAYLOR,btaylor@zyx.com,SG_CONTRACTING OFFICER,Contract,View,A
2579,77102,ANTHONY ROBINSON,AROBINSON,arobinson@zyx.com,NO LOGIN RIGHTS,Contract,View,A
2580,77105,JOEL HERNANDEZ,JHERNANDEZ,jhernandez@zyx.com,NO LOGIN RIGHTS,Contract,View,A

In [5]:
term_path = 'files/term_employees_v1.xlsx'

In [6]:
term_df = pd.read_excel(term_path)

In [7]:
term_df

  Terminated Employees
0              MMEDINA
1            BGARRISON
2              KROGERS
3              MNEWMAN
4               EDAVIS
5             SSCHMIDT
6              DFLORES
7              JDALTON
8            JCAMPBELL
9               EHODGE

In [8]:
users_test = users_df[users_df['USER_ID'].isin(term_df['Terminated Employees'])]

In [9]:
users_test['TEST'] = users_test['STATUS'].map(lambda x: {'T': True, 'A': False}.get(x))

In [10]:
results = users_test[['USER_ID', 'STATUS', 'TEST']].groupby(['USER_ID', 'STATUS', 'TEST']).count().reset_index()

In [11]:
def summarize_results(results):
    number_of_terms = len(results)
    true_results = len(results[results['TEST']])
    false_results = len(results[~results['TEST']])
    print('----------------------RESULTS---------------------')
    print(f' There were {number_of_terms} terminations.')
    print(f' There were {true_results} users correctly shown as terminated.')
    if false_results:
        if false_results == 1:
            print(f' There was {false_results} user incorrectly shown as active.')
        else:
            print(f' There were {false_results} users incorrectly shown as active.')
    print('-'*50)

In [12]:
results

     USER_ID STATUS   TEST
0  BGARRISON      T   True
1    DFLORES      T   True
2     EDAVIS      T   True
3     EHODGE      A  False
4  JCAMPBELL      T   True
5    JDALTON      T   True
6    KROGERS      T   True
7    MMEDINA      T   True
8    MNEWMAN      T   True
9   SSCHMIDT      T   True

In [13]:
summarize_results(results)

----------------------RESULTS---------------------
 There were 10 terminations.
 There were 9 users correctly shown as terminated.
 There was 1 user incorrectly shown as active.
--------------------------------------------------

# Conclusion
Controls are not operating effectively for termination flags.

In [14]:
!jupyter nbconvert --to html "full example.ipynb"

[NbConvertApp] Converting notebook full example.ipynb to html
[NbConvertApp] Writing 280495 bytes to full example.html